<!--[if !IE]> -->

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->
<script src="$static/js/jquery.min.js"></script>
<!--[if !IE]> -->

<script type="text/javascript">
	window.jQuery || document.write("<script src='$static/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='$static/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
	if("ontouchend" in document) document.write("<script src='$static/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>

<!-- 基本 -->
<script src="$static/js/bootstrap.min.js"></script>

<!--[if lte IE 8]>
  <script src="assets/js/excanvas.min.js"></script>
<![endif]-->

<!-- 切换 -->
<script src="$static/js/ace-elements.min.js"></script>
<script src="$static/js/ace.min.js"></script>