<div class="col-xs-12 col-sm-12 widget-container-span ui-sortable">
	<div class="widget-box">
		<div class="widget-header">
			<label>商品属性</label>
			<!-- <div class="widget-toolbar">
				<a href="#" data-action="settings">
					<i class="icon-cog"></i>
				</a>
				<a href="#" data-action="reload">
					<i class="icon-refresh"></i>
				</a>
				<a href="#" data-action="collapse">
					<i class="icon-chevron-up"></i>
				</a>
				<a href="#" data-action="close">
					<i class="icon-remove"></i>
				</a>
			</div> -->
		</div>
		<div class="widget-body">
			<div class="widget-main combine-data">
			    <div class="combine-data-name"></div>
				<!-- <div class="combine-data-attrname">
				   <label class="control-label col-xs-12 col-sm-2">颜色:</label>
				   <div class="col-xs-12 col-sm-10">
						  <label class="attrLabel">
								<input name="subscription" value="1" type="checkbox" class="ace">
								<span class="lbl">蓝色</span>
						  </label>
				   </div>
				</div>
				<hr> -->
				<div class="combine-data-title" style="display: none">
				     <div class="name-value-tip">属性组合结果(价格字段只保留两位小数)</div>
				     <label class="control-label col-xs-12 col-sm-5">属性</label>
				     <label class="control-label col-xs-12 col-sm-2">成本<input type="text" id="attrCostprice" class="unite-update"></label>
				     <label class="control-label col-xs-12 col-sm-2">售价<input type="text" id="attrToprice" class="unite-update"></label>
				     <label class="control-label col-xs-12 col-sm-2">库存<input type="text" id="attrStock" class="unite-update"></label>
				</div>
				<div class="clear"></div>
				<form id="attr-form" method="post">
					<div class="combine-data-allvalue">
					<!-- <div class="combine-data-value">
						 <span class="col-sm-5">蓝色-L-纯棉</span>
					     <input type="text" name="goodsAttrCostprice" class="col-xs-12 col-sm-2"/>
					     <input type="text" name="goodsAttrToprice" class="col-xs-12 col-sm-2"/>
					     <input type="text" name="goodsAttrStock" class="col-xs-12 col-sm-2"/>
					</div> -->
					</div>
					<input type="hidden" id="goodId" name="goodId" value="46">
				</form>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>