<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dshop.service.mapper.DshopGoodsImagesMapper" >
  <resultMap id="BaseResultMap" type="com.dshop.bean.DshopGoodsImages" >
    <id column="goods_image_id" property="goodsImageId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="goods_attr_id" property="goodsAttrId" jdbcType="INTEGER" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="goods_image_sort" property="goodsImageSort" jdbcType="TINYINT" />
    <result column="goods_image_ext1" property="goodsImageExt1" jdbcType="VARCHAR" />
    <result column="goods_image_ext2" property="goodsImageExt2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    goods_image_id, goods_id, store_id, goods_attr_id, goods_image, goods_image_sort, 
    goods_image_ext1, goods_image_ext2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dshop.bean.example.DshopGoodsImagesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dshop_goods_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dshop_goods_images
    where goods_image_id = #{goodsImageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dshop_goods_images
    where goods_image_id = #{goodsImageId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dshop.bean.example.DshopGoodsImagesExample" >
    delete from dshop_goods_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dshop.bean.DshopGoodsImages" >
    insert into dshop_goods_images (goods_image_id, goods_id, store_id, 
      goods_attr_id, goods_image, goods_image_sort, 
      goods_image_ext1, goods_image_ext2)
    values (#{goodsImageId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, 
      #{goodsAttrId,jdbcType=INTEGER}, #{goodsImage,jdbcType=VARCHAR}, #{goodsImageSort,jdbcType=TINYINT}, 
      #{goodsImageExt1,jdbcType=VARCHAR}, #{goodsImageExt2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dshop.bean.DshopGoodsImages" >
    insert into dshop_goods_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsImageId != null" >
        goods_image_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="goodsAttrId != null" >
        goods_attr_id,
      </if>
      <if test="goodsImage != null" >
        goods_image,
      </if>
      <if test="goodsImageSort != null" >
        goods_image_sort,
      </if>
      <if test="goodsImageExt1 != null" >
        goods_image_ext1,
      </if>
      <if test="goodsImageExt2 != null" >
        goods_image_ext2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsImageId != null" >
        #{goodsImageId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="goodsAttrId != null" >
        #{goodsAttrId,jdbcType=INTEGER},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsImageSort != null" >
        #{goodsImageSort,jdbcType=TINYINT},
      </if>
      <if test="goodsImageExt1 != null" >
        #{goodsImageExt1,jdbcType=VARCHAR},
      </if>
      <if test="goodsImageExt2 != null" >
        #{goodsImageExt2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dshop.bean.example.DshopGoodsImagesExample" resultType="java.lang.Integer" >
    select count(*) from dshop_goods_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dshop_goods_images
    <set >
      <if test="record.goodsImageId != null" >
        goods_image_id = #{record.goodsImageId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsAttrId != null" >
        goods_attr_id = #{record.goodsAttrId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsImage != null" >
        goods_image = #{record.goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsImageSort != null" >
        goods_image_sort = #{record.goodsImageSort,jdbcType=TINYINT},
      </if>
      <if test="record.goodsImageExt1 != null" >
        goods_image_ext1 = #{record.goodsImageExt1,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsImageExt2 != null" >
        goods_image_ext2 = #{record.goodsImageExt2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dshop_goods_images
    set goods_image_id = #{record.goodsImageId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      store_id = #{record.storeId,jdbcType=INTEGER},
      goods_attr_id = #{record.goodsAttrId,jdbcType=INTEGER},
      goods_image = #{record.goodsImage,jdbcType=VARCHAR},
      goods_image_sort = #{record.goodsImageSort,jdbcType=TINYINT},
      goods_image_ext1 = #{record.goodsImageExt1,jdbcType=VARCHAR},
      goods_image_ext2 = #{record.goodsImageExt2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dshop.bean.DshopGoodsImages" >
    update dshop_goods_images
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="goodsAttrId != null" >
        goods_attr_id = #{goodsAttrId,jdbcType=INTEGER},
      </if>
      <if test="goodsImage != null" >
        goods_image = #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsImageSort != null" >
        goods_image_sort = #{goodsImageSort,jdbcType=TINYINT},
      </if>
      <if test="goodsImageExt1 != null" >
        goods_image_ext1 = #{goodsImageExt1,jdbcType=VARCHAR},
      </if>
      <if test="goodsImageExt2 != null" >
        goods_image_ext2 = #{goodsImageExt2,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_image_id = #{goodsImageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dshop.bean.DshopGoodsImages" >
    update dshop_goods_images
    set goods_id = #{goodsId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      goods_attr_id = #{goodsAttrId,jdbcType=INTEGER},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      goods_image_sort = #{goodsImageSort,jdbcType=TINYINT},
      goods_image_ext1 = #{goodsImageExt1,jdbcType=VARCHAR},
      goods_image_ext2 = #{goodsImageExt2,jdbcType=VARCHAR}
    where goods_image_id = #{goodsImageId,jdbcType=INTEGER}
  </update>
  <cache />
  <select resultMap="BaseResultMap" parameterType="com.dshop.bean.example.DshopGoodsImagesExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dshop_goods_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>